

<div class="row">
  <div class="col-xs-12 col-sm-6">
      <div class="form-group">
          <label for="tsCusId">Customer ID</label>
          <input type="text" value="{{tnsaddress.customerId}}" class="form-control" name="tsCusId">
      </div>
  </div>
  <div class="col-xs-12 col-sm-6">
      <div class="form-group">
          <label for="tsScacId">SCAC ID</label>
          <input type="text" value="{{tnsaddress.customerSCACId}}" class="form-control" name="tsScacId">
        </div>
  </div>
</div>
<div class="form-group">
  <label for="tsnaccname" class="width-1-3">Name</label>
  <input type="text" value="{{tnsaddress.customerName}}" name="tsnaccname" class="form-control" />
</div>
<div class="form-group">
  <label for="tsncontact">Contact Name</label>
  <input type="text" value="{{tnsaddress.customerContactName}}" name="tsncontact" class="form-control">
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
      <div class="form-group">
          <label for="tsnphone">Phone</label>
          <input type="text" value="{{tnsaddress.customerMainPhone}}"  class="form-control" name="tsnphone">
      </div>
  </div>
  <div class="col-xs-12 col-sm-6">
      <div class="form-group">
          <label for="tsExtn">Extn</label>
          <input type="text" value="{{tnsaddress.customerExtn}}" name="tsExtn" class="form-control" />
      </div>
  </div>
</div>