<h4 class="subtitle">Partner Information</h4>
<div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4">
        <div class="form-group">
            <label for="tsProvdingPartner">Providing Partner</label>
            <input type="text" value="{{tnsaccountpartnersummary.performingPartner}}" name="tsProvdingPartner" class="form-control readonly-textbox" readonly />
        </div>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8">
        <div class="form-group">
            <label for="tsCoordinator">Co-Ordinator</label>
            <input type="text" value="{{tnsaccountpartnersummary.partnerContact}}" name="p2paccname" class="form-control readonly-textbox" readonly />
        </div>
    </div>
</div>
<div class="form-group">
    <label for="tsAddress">Address</label>
    <input type="text" value="{{tnsaccountpartnersummary.partnerAddress1}}" name="tsAddress1" class="form-control readonly-textbox" placeholder="Address Line 1" readonly />
</div>
<div class="form-group">
    <label for="tsAddress">&nbsp;</label>
    <input type="text" value="{{tnsaccountpartnersummary.partnerAddress2}}" name="tsAddress2" class="form-control readonly-textbox" placeholder="Address Line 2" readonly />
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="tsCity">City</label>
            <input value="{{tnsaccountpartnersummary.partnerCity}}" type="text" name="tsCity" class="form-control readonly-textbox" readonly />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="tsPostalCode">Postal Code</label>
            <input value="{{tnsaccountpartnersummary.partnerZip}}" type="text" class="form-control readonly-textbox" name="tsPostalCode" readonly>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="tsState">State</label>
            <input value="{{tnsaccountpartnersummary.partnerStateName}}" type="text" class="form-control readonly-textbox" name="tsState" readonly value="New Jersey">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="tsCountry1">Country</label>
            <input value="{{tnsaccountpartnersummary.partnerCountryName}}" type="text" class="form-control readonly-textbox" name="tsCountry1" readonly value="USA">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="tsContactName">Contact Name</label>
    <input type="text" value="{{tnsaccountpartnersummary.partnerContact}}" name="p2pcontact" class="form-control readonly-textbox" readonly />
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="tsPhone">Phone</label>
            <input value="{{tnsaccountpartnersummary.partnerMainPhone}}" type="text" class="form-control readonly-textbox" name="tsPhone" readonly>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="tsExtn">Extn</label>
            <input  type="text" name="tsExtn" class="form-control readonly-textbox" readonly />
        </div>
    </div>
</div>
<div class="form-group">
    <label for="tsMiles2residence">Miles to Residence</label>
    <input type="text"  name="tsMiles2residence" class="form-control readonly-textbox" readonly>
</div>
