<div class="form-group">
  <label for="tsBookingAgentSearch">Booking Agent Name</label>
  <div class="inner-addon right-addon">
      <input type="text" value="{{tnsaccountbookeraddress.customerBookerName}}" name="tsBookingAgentSearch" class="form-control" id="tsBookingAgentSearch" />      
      <!-- <button class="btn btn-primary search"><span class="glyphicon glyphicon-search"></span></button> -->
  </div>
</div>
<div class="form-group">
  <label for="tsBookingAgentNAME">Contact Name</label>
  <input type="text" value="{{tnsaccountbookeraddress.customerBookerContactName1}}" class="form-control" name="tsPhone">
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
      <div class="form-group">
          <label for="tsPhone">Phone</label>
          <input type="text" value="{{tnsaccountbookeraddress.customerBookerPhone}}" class="form-control" name="tsPhone">
      </div>
  </div>
  <div class="col-xs-12 col-sm-6">
      <div class="form-group">
          <label for="tsExtn">Extn</label>
          <input type="text" value="{{tnsaccountbookeraddress.customerBookerExtn}}" name="tsExtn" class="form-control" />
      </div>
  </div>
</div>