<div class="form-group">
    <label for="tsName">Contact Name</label>
    <input type="text" value="{{tnsaccountoriginaddress.oName}}" class="form-control" name="tsName">
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <label for="tsPhone">Phone</label>
            <input type="text" value="{{tnsaccountoriginaddress.oPhone}}" class="form-control" name="tsPhone">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <label for="tsCellPhone">Cell Phone</label>
            <input type="text" value="{{tnsaccountoriginaddress.oCellPhone}}" class="form-control" name="tsCellPhone">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <label for="tsWorkPhone">Work Phone</label>
            <input type="text" value="{{tnsaccountoriginaddress.oWorkphone}}" class="form-control" name="tsWorkPhone">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="tsEmail">E-mail</label>
    <input type="email" value="{{tnsaccountoriginaddress.oEmail}}" class="form-control" name="tsEmail">
</div>